<mat-accordion multi = "true" *ngIf="posts.length>0">
  <mat-expansion-panel *ngFor = "let post of posts">
      <mat-expansion-panel-header>
         Name: {{post.name}}
      </mat-expansion-panel-header>
      <p>Offense {{post.offense}}</p>
      <p>Aadhar Number{{post.adNumber}}</p>
      <p>Amount {{post.amount}}</p>


  </mat-expansion-panel>
  <mat-card> Average Penalty {{amountTot}}</mat-card>

</mat-accordion>

<p class = "info-text mat-body-1" *ngIf="posts.length<=0">No Violations added yet</p>
